body{
  padding: 40px;
    text-align: center;
    background: url("../images/plate.png")fixed;
}

.jumbotron {
  color: antiquewhite;
  background-color: darkgrey;
  border:  9px solid gray;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
}

#action {
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
  display: none;
  color: whitesmoke;
}

#timer {
  position:fixed;
  display: none;
  background-color: aliceblue;
  width: 10%;
  color:darkred;
  font-size: 30;
  padding: 10px;
  margin: 20px;
  bottom: 0;
  right: 0;
  
}

h2{
  background-color: black;
  border: 1px solid lightgrey;
  border-radius:10px; 
}
.question{
  background-color: rgb(0, 0, 0, 0.5);
  border-radius:10px; 
  margin: 20px;
  width: 60%;
  margin: 50px auto;
  padding: 20px;
}

input {
  margin: 0 auto;
  width:80%;
  padding-bottom: 100px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  text-align:center;
}

#btn1, #btn2, #btn3, #btn4 {
  width: 50%;
  font-size: 25px;
  margin: 20px;
  background-color: gray;
  border: 2px solid lightgrey;
  border-radius: 10px;
  color: antiquewhite;
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover{
  cursor: pointer;
  background-color: lightgrey;
}

#btn1:focus, #btn2:focus, #btn3:focus, #btn4:focus {
  outline: 0;
  background-color: lightgrey;
}

#score{
color: white;
font-size: 30px;
display: flex;
align-items: center;
justify-content: center;
}

#overlay {
  position: fixed;
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 2; 
  cursor: pointer; 
}

#overlayText {
  width:60%;
  height: 60%;
  border: 1px solid whitesmoke;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  background-color: black;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#submit {
  border: 2px solid gray;
  border-radius: 10px;
  width: 10%;
  padding: 10px;
}

#submit:focus {
  cursor: pointer;
}
#submit:hover {
  outline: 0;
  background-color: lightgrey;
}

#solutionTable {
  background-color: antiquewhite;
  color: black;
  width: 50%;
  padding: 10px;
  position: relative;
  margin: 0 auto;
  display: none;
}
