body{
  padding: 40px;
    text-align: center;
    background: url("../images/plate.png")
}

.jumbotron {
  color: antiquewhite;
  background-color: darkgrey;
  border:  9px solid gray;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
}

#action {
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
  display: none;
  color: black;
}

#question {
  margin: 100px;
  border: 2px solid lightgray;
  border-radius: 10px;
  background-color: gray;
  height: 200px;
  text-align: center;
  padding: 30px;
}

.options{
  margin: 0 auto;
  width:80%;
  padding-bottom: 100px;
}

#btn1, #btn2, #btn3, #btn4 {
  width: 300px;
  height: 50px;
  font-size: 25px;
  margin: 20px;
  background-color: gray;
  border: 2px solid lightgrey;
  border-radius: 10px
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover{
  cursor: pointer;
  background-color: lightgrey;
}

#btn1:focus, #btn2:focus, #btn3:focus, #btn4:focus {
  outline: 0;
}

#overlay {
  position: fixed;
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer; 
}

#overlayText {
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  background-color: black;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}